.header {
  display: block;
  &__item {
    display: inline-block;
    &--modifier {
      color: red;
    }
  }
  &__item_2 {
    display: inline-block;
    &--modifier {
      color: red;
    }
  }
}

.util-container {
  display: block;
  margin: 0 auto;
}
