.header {

  @media (min-width: $xs-max-width) {
    margin: 0 auto;
    max-width: v(grid-width);
  }

  &__heading {
    font-size: 2rem;
    font-weight: 700;
    color: v(primary);
    margin: 1rem 0 0.5rem 0;
  }

  &__job {
    font-size: 1.25rem;
    font-weight: 300;
    color: v(secondary);
    margin: 0 0 1.5rem 0;
  }

  &__darkmodeswitcher {
    text-align: right;
    @media (min-width: $xs-max-width) {
      float: right;
    }
  }
}
