.story {
  margin: 0 0 3rem 0;
  &__title {
    @extend .header__heading;
    margin-bottom: 0.5rem;
    &+.story__subtitle {
      margin: 0 0 1rem 0;
    }
  }
  &__subtitle {
    font-size: 1.35rem;
    font-weight: 400;
    color: v(secondary);
    margin: 2rem 0 1rem 0;
  }
  &__paragraph {
    line-height: 1.25;
    margin: 0 0 1rem 0;
    font-weight: 300;
  }
  &__important {
    color: v(secondary);
    font-weight: 700;
  }
  &__link {
    @extend .link;
  }
}
