.util-container-flex {
  display: flex;
  flex-direction: column;

  @media (min-width: $xs-max-width) {
    flex-direction: row;
    margin: 0 auto;
    max-width: v(grid-width);
  }
}

.util-link {
  color: v(primary);

  &:hover {
    border-bottom: 1px solid v(secondary);
    color: v(secondary);
    text-decoration: none;
  }
}
