@use "sass:color";

// Dark colors
$background-color: #1d2228;
$main-color: #fb5151;
$secondary-color: #f47471;
$text-color: #e1e2e2;

// Light colors
$light-background-color: invert($background-color);
$light-main-color: invert($main-color);
$light-secondary-color: invert($secondary-color);
$light-text-color: complementary($text-color);

$font-family: 'Nunito', serif;
$default-font-weight: 300;

// Structure
$xs-max-width : 480px;
$sm-max-width : 960px;
